.btn {
  position: relative;
  width: 60px;
  margin: 15px;
  padding: 10px;
  vertical-align: middle; 
  text-align: center; 
  box-sizing: border-box;
  align-items: center; 
  justify-content: center;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff; 
  background-color:blue;
  cursor: pointer;

}

.btn-primary {
  color: blue;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-secondary {
  color: #f4f88b;
}

