#root {
  width: 100%;
  min-height: 100vh;
  // background-color: #dddd33;
  background: linear-gradient(90deg, rgba(237,237,235,1) 4%, rgba(238,244,6,0.6) 48%, rgba(232,231,225,0.7931547619047619) 96%);
}

.container {
  width: 1200px;
}

.app-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.body-text {
  margin-top: 20px;
  font-size: 18px;
}

.btn.btn__delete-modal {
  margin: 0 15px 15px;
  padding: 5px 0;
  width: 150px;
  height: 30px;
  font-size: 14px;
  font-weight: 600;
  color: blue;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-radius: 25px;
  background-color: #ccc;
  border: 1.5px solid #ccc;

  &:hover {
      background-color: #ddd;
  }
}

